version: '3'

services:

  postgres:
    image: postgres:15
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "12345678"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "ptdm"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  aspnet:
    build: 
      context: ./
      dockerfile: ./WebAPI/Dockerfile
    ports:
      - "5215:5215"
    command: "dotnet WebAPI.dll"
    container_name: aspnetcore
    environment:
      - ConnectionStrings__DefaultConnection=Server=postgres;Port=5432;Database=ptdm;User Id=postgres;Password=12345678;
    depends_on:
      postgres:
        condition: service_healthy